@red: #EE4055;
@pink: #F279AC;
@orange: #FA9725;
@yellow: #F2CB30;
@green: #4DBF99;
@grey: #8FABB3;
@blue: #3D9CCC;
@label: #88A5AD;
@text: #323232;
@white: #FFF;
@gray: #999;
@black: #000;


@mobile: "only screen and (max-width: 600)";