@import '../common/variables.less';

.input {
    color: @text;
    width: 100%;
    max-width: 504px;
    font-size: 14px;
    outline: none;
    padding: 8px 16px;
    font-family: inherit;
    background: #FFFFFF;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.04), 0 1px 2px 0 rgba(0,0,0,0.16);
    border-radius: 4px;
    border-color: transparent;

    &::placeholder {
        color: @grey;
    }
}

.inputValid {
    border: 1px solid @green;
}

.inputInvalid {
    border: 1px solid @red;
}

.inputIcon {
    display: flex;
    flex-direction: row;
    align-items: center;
    &:after {
        content: '';
        background-repeat: no-repeat;
        background-size: 50% 50%;
        background-position: center center;
        margin-left: -32px;
        width: 32px;
        height: 32px;
    }
}

.inputIconValid {
    &:after {
        background-image: data-uri('./Check.svg');
    }
}

.inputIconInvalid {
    &:after {
        background-image: data-uri('./Cross.svg');
    }
}

.inputLarge {
    height: 40px;
}

.inputSmall {
    height: 32px;
}